@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
::selection {
  background-color: orange;
  color: black; /* Pilih warna teks yang terlihat jelas di atas warna background baru */
}
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}


.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.20;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.custom-border {
  position: relative;
  display: inline-block;
  padding: 20px;
  background: #f0f0f0; /* Warna latar belakang yang lebih netral */
  transform: skew(-20deg);

  /* Gradient untuk border */
  border-left: 20px solid #000; /* Tomato */
  border-right: 20px solid orange; /* Tomato */
  border-bottom: 25px solid #000; /* Yellow yang lebih glossy */
  border-top: 25px solid orange;

  /* Efek shadow */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Efek shadow yang lebih halus */
}



@media (max-width: 768px) {
  .custom-border {
    transform: skew(-20deg) scale(0.95); /* Skala 75% untuk layar yang lebih besar */
    border-left: 15px solid #000; /* Tomato */
    border-right: 25px solid orange; /* Tomato */
    border-bottom: 20px solid #000; /* Yellow yang lebih glossy */
    border-top: 20px solid orange;/* Lebar border saat scale 75% */
  }

  
}

.primary {
  @apply text-blue-100 font-robotoMono;
}

.secondary {
  @apply text-black-200 font-Montserrat;
}
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full  border   border-orange-400 hover:border-black bg-orange-400 py-1.5 px-5 text-black transition-all 
   hover:bg-black-100 hover:text-orange-400 ease-in-out duration-300 text-center 
   text-sm font-robotoMono flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-gray-600 py-1.5 px-5 
  text-center text-sm font-robotoMono flex items-center bg-white text-black-100
  justify-center transition-all bg-transparent hover:text-orange-500 hover:shadow-none shadow-[4px_4px_0px_0px_#000];
}


.head_text {
  @apply mt-4 text-4xl font-robotoMono font-extrabold leading-[1.25] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}
.teal-gradient {
  @apply bg-gradient-to-r from-teal-400 via-teal-500 to-blue-500 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-[15px] text-center justify-center flex items-center text-gray-800 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden mx-4  font-robotoMono font-bold text-2xl text-black tracking-wide;
}

.dropdown {
  @apply z-10 absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-robotoMono text-black hover:text-orange-300 duration-300 ease-in-out font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}